* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: grey;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.nav-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 50px;
    background: blue;
}
.menu {
    display: flex;
    list-style: none;
    color: white;
    
}
menu li a {
    color: white;
}
.menu li {
    padding: 30px;
}
.name-logo {
    margin-left: 30px;

}