* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.nav-bar {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height : 50px;
    background: linear-gradient(rgba(20,20,20, 0.1), rgba(150,150,150, 0.1));
}
.menu {
    display: flex;
    list-style: none;
    color: white;
    
}
.menu li a {
    text-decoration: none;
    color: white;
}
.menu li {
    padding: 30px;
}
.home {
    margin-left: 30px;

}
